html { scroll-behavior: smooth; }

/* Texto en general */
body {
    font-family: 'Arial', sans-serif;
    color: #222;
    line-height: 1.5;
}
h1 { font-size: 2em; color: #003366; }
h2 { font-size: 1.4em; margin-top: 1.2em; }
h3 { font-weight: normal; color: #555; }

/* tablas */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
/* Cabezeras y datos en tablas */
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    width: 33%;
    word-wrap: break-word;
}
/* Cada fila */
thead {
    background-color: #f0f4f8;
    color: #003366;
}
/* Ni idea */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Cambio de color y texto a los links */
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #004080;
}

/* Listas ordenadas y bullets */
ol {
    margin: 0.5em 0 0.5em 1.5em;
}
ul {
    margin: 0.5em 0 0.5em 1.5em;
    
    /* So pdf displays bullets properly */
    list-style-type: disc;
    padding-left: 20px;
}

/* Elementos de lista */
li {
    margin-bottom: 4px;
}

/* Separaciones para mejor visibilidad */
header {
    text-align: center;
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
}
footer {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.9em;
    color: #555;
}

.social-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}